@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #f5f5f5;
  .name {
    font-size: 28px;
    font-weight: 200;
    color: #5e5e5e;
    text-decoration: none;
    // text-transform: uppercase;
  }
  .nav-wrapper {
    display: flex;
    justify-content: flex-end;
    a {
      margin: 0 15px;
      text-decoration: none;
      color: gray;
      font-weight: 300;
    }
  }
}
.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .banner-image {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    img {
      height: inherit;
      object-fit: cover;
    }
  }
  .banner-title {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
  }
  .banner-nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin: 0 15px;
      text-decoration: none;
      color: gray;
    }
  }
}
.back-arrow {
  position: absolute;
  top: 45px;
  left: -16px;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #8080802e;
  }
}

.about {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
  .about-title {
    font-size: 60px;
    color: gray;
    margin-bottom: 30px;
  }

  .about-content {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
    flex: 1;
  }
  .profile-wrapper {
    width: 300px;
    height: 400px;
    margin-left: 60px;
    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }
}
.contact {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
  .contact-title {
    font-size: 60px;
    color: gray;
    margin-bottom: 30px;
  }
  .contact-wrapper {
    h6 {
      font-weight: 300;
    }
    ul {
      margin: 0;
      padding: 0;
      margin-top: 45px;
      li {
        display: flex;
        justify-content: flex-start;
        line-height: 42px;
        .icon {
          margin-right: 10px;
        }
        .detail {
          color: gray;
          text-decoration: none;
          &:hover {
            color: #ffaa07;
          }
        }
      }
    }
  }
}

// article page
.article {
  margin-top: 60px;
  .main-title {
    font-size: 60px;
    color: gray;
    padding-left: 15px;
    margin-bottom: 30px;
  }
  .article-wrapper {
    margin-top: 30px;
    padding: 15px;
    color: gray;
    display: block;
    text-decoration: none;
    .img-wrapper {
      height: 180px;
      width: 100%;
      overflow: hidden;

      img {
        height: inherit;
        width: inherit;
        object-fit: cover;
      }
    }
    .article-title {
      font-size: 16px;
      margin-top: 15px;
      border-left: 3px solid #ffaa07;
      padding-left: 10px;
      font-weight: 300;
    }
    &:hover {
      .img-wrapper {
        img {
          transform: scale(1.1);
          transition: all 0.2s linear;
        }
      }
      .article-title {
        color: #ffaa07;
      }
    }
  }
}

// single article page
.single-article {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 90px;
  .article-title {
    font-size: 46px;
    color: #292929;
    font-weight: 600;
  }
  .subtitle {
    font-size: 16px;
    color: gray;
    font-weight: 300;
  }
  .img-wrapper {
    margin: 45px auto;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  .article-content {
    font-size: 18px;
    color: #292929;
    line-height: 32px;
    font-weight: 300;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .back-arrow {
    left: 0;
    top: 30px;
  }
  .banner {
    .banner-image {
      height: 220px;
    }
    .banner-title {
      font-size: 18px;
    }
  }
  .about {
    .about-title {
      font-size: 36px;
    }
    .profile-wrapper {
      margin: 0 auto;
      height: 300px;
      width: 220px;
      margin-bottom: 30px;
    }
  }
  .single-article {
    .article-title {
      font-size: 24px;
    }
    .subtitle {
      font-size: 14px;
    }
    .img-wrapper {
      height: 260px;
    }
    .article-content {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .navbar {
    padding: 0 15px;
    height: 46px;
    .name {
      font-size: 20px;
    }
    .nav-wrapper {
      a {
        font-size: 14px;
      }
    }
  }
  .article {
    margin-top: 45px;
    .main-title {
      font-size: 36px;
      margin-bottom: 0;
    }
    .article-wrapper {
      margin-top: 15px;
    }
  }
  .contact {
    .contact-title {
      font-size: 36px;
    }
  }
}
